header {
    margin: 0;
    height: 150px;
    background-color: #9e0000;
}

.titulo {
    padding-top: 45px;
    text-align: center;

    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}

.formulario {
    margin-top: 10px;
    text-align: center;
}

fieldset {
    display: inline-block;
    text-align: center;
}

.formulario label {
    font-weight: bold;
}

#salvar {
    border-radius: 10px;
    font-weight: bold;
}

#salvar:hover {
    background-color: #d1d1d1;
}